/* Estilos na pagina index*/


/* 
main{
    text-align: center;
}
*/

.cover-container figure img{
    width: 100%; /*em respeita o tamanho da fonte padrao do elemento*/
}


main h3.tittle {
    font-size: 1.2em;

}

main section abbr{
    color: #25cbd3;
}



@media screen and (min-width: 992px){
    .cover-container    {
        width: 40%;

    }

    .cover-container 
    .section-video {
        display:  inline-block;
    }


    main .section-azure blockquote{
        width: 70%;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;

    }
}