/* ---------------------------------------------------------------------------- */
/* --- 4. CONTENT
/* ----------------------------------------------------------------------------- */

##{$a}content {
	position: relative;
    margin-left: $navigation-width;
    padding-top: calc(#{$screen-padding});
    //padding-top: calc(#{$screen-padding} + 2.5rem);
    background-color: #fff;
    z-index: 2;

    @include media("<screen-lg") {
        margin-left: 0;
    }

    > .#{$a}section {
        padding-bottom: 6rem;
        @include transition-primary;

        .#{$a}container {
            padding-top: 4.5rem;
        }

        &:not(:first-child) {
            .#{$a}container {
                border-top: 8px solid $color-line;
            }
        }

        .#{$a}section {
            .#{$a}container {
                border-top: 3px solid $color-line;
                margin-top: 3.5rem;
                padding-top: 3rem;
            }
        }
    }

    &.#{$a}sliding {
        > .#{$a}section {
            @include filter(blur(5px));
            @include opacity(0.4);
        }
    }
}

@import "_content/animation";
@import "_content/code";
@import "_content/color";
@import "_content/component";
@import "_content/intro";
@import "_content/other";
@import "_content/tabs";
@import "_content/tools";
