
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'poppins';
  background-color: #ecedef;
  line-height: 1.8;
}


a{
  
}


