
/* ------- */


table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}


th, td {
  border: 1px solid;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
*/





/* ------------------------------------- table v2 */

table-v2 {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
td-v2 {
	padding: 15px;
}
td-v2 {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td-v2 {
	color: #636363;
	border: 1px solid #dddfe1;
}
tr-v2 {
	background-color: #f9fafb;
}
 tr:nth-child(odd) {
	background-color: #ffffff;
}






/*https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l 
<table class="styled-table">









/* ------- */

/*
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

*/

/*https://codeshack.io/html-styling-tables-example/
*/






