

body {
  font-family: 'poppins';
  background-color: #ECEDEF;
  /*color: #fff;*/
  line-height: 1.8;
}

.test-box{
  background-color: aqua;
  width: 100px;
  height: 100px;
  margin: 50px;
}

